@import "variables";

.content-container {

    .location-container {
        width: 100%;
        background: url("../../img/splash-bg.jpg") center;
        background-size: cover;
        height: 24.5rem;

        h1 {
            @include boldText();
            color: $awgFont2;
        }

    }

    .contact-container {
        justify-content: space-evenly;
        border-bottom: 1px solid $awgFont2;
        padding: 3rem 0;

        .contact-max-width {
            width: 100%;
            max-width: 60rem;
            justify-content: space-evenly;

            h2 {
                font-size: 1.5rem;
            }

            .current-hours {
                align-self: flex-start;
                justify-content: space-between;
                width: 45%;
                height: 16rem;
                text-align: right;
                // border: 1px solid red;
            }

            .map-container {
                justify-content: space-between;
                height: 45rem;

                h2,
                p,
                .contact-info-box {
                    width: 100%;

                    i {
                        margin-right: 0.75rem;
                    }

                }


            }

            .google-map {
                width: 25rem;
                height: 25rem;
            }

        }

    }

}