@import "variables";

.content-container {
    width: 100%;
    height: 100%;

    // Navbar above splash for page navigation

    .content-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 9rem;

        p {
            width: 35%;
            text-align: center;
        }

        .nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;

            .dropdown {
                position: relative;
                display: flex;
                padding: 1rem 0;

                button {
                    font-family: 'Roboto', sans-serif;
                    background: none;
                    border: 0;
                    font-size: inherit;

                }

                button::after {
                    content: '\2c5';
                    margin-left: 0.5rem;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: -25%;
                    // margin: 1rem 0;
                    border-top: 0.2rem solid rgba(173, 216, 230, 0.5);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    width: 10rem;
                    height: 2rem;
                    text-align: center;
                }
            }

            .dropdown:hover {
                .dropdown-menu {
                    display: block;

                    li {
                        display: flex;
                        align-items: center;
                        border-bottom: 0.05rem solid rgba(128, 128, 128, 0.25);
                        height: 100%;
                        background: white;

                        a {
                            width: 100%;
                        }
                    }
                }
            }

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    //Splash page

    .content-splash {
        display: flex;
        align-items: center;
        height: 41rem;
        justify-content: flex-end;
        background: url("../../content-body-bg.jpg") top fixed;

        .content-greeting {
            display: flex;
            flex-flow: column wrap;
            text-align: right;
            padding-right: 3rem;
            color: lightgray;

            h2 {
                margin-bottom: 0.5rem;
                font-size: 1.4rem;
                font-weight: bold;
            }

            h2,
            p {
                animation: fadeIn 2s;
            }
        }
    }

    // Containers holding hours, payment info, etc below Splash.

    .content-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        min-width: 100%;
        width: 100%;
        background: rgb(80, 80, 80);
        height: 15rem;

        .about-container {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 15rem;
            height: 100%;
            color: white;
            opacity: 0;

            h2 {
                font-weight: bold;
                font-size: 1.2rem;
            }

            p {
                font-size: 0.9rem;
                text-align: center;
            }
        }
    }

    // Company Information

    .company-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include contentBox();

        img {
            width: 30rem;
            height: 20rem;
            margin: 0 1rem;

            @media (max-width: 1000px) {
                width: 20rem;
                height: 12.5rem;
            }
        }

        .company-info {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
            width: 35rem;
            height: 100%;
            margin-left: 1rem;
            text-align: center;
            line-height: 1.5rem;

            h2 {
                @include boldText();
                margin-top: 1rem;
            }

            h2:before,
            h2:after {
                content: '\00a0\00a0\00a0';
                text-decoration: line-through;
                margin: auto 0.2em;
            }

            p {
                width: 85%;
            }

            .info-buttons {
                display: flex;
                justify-content: center;

                button {
                    margin: 0 1rem;
                    width: 7.5rem;
                    height: 2.75rem;
                    border: 0;
                    border-radius: 7.5%;
                    background: lightblue;
                    font-family: inherit;
                    font-size: 1rem;
                    color: white;
                }

                button:last-child {
                    background: rgb(90, 90, 90);
                }
            }
        }
    }

    // Services

    .service-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        @include contentBox();
        margin-top: 3rem;

        h2 {
            @include boldText();
        }

        h2::before,
        h2::after {
            content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
            text-decoration: line-through;
            margin: auto 0.4em;
        }

        .services {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 75%;
            height: 25rem;

            .service-box {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-around;
                height: 50%;
                min-width: 15rem;

                i {
                    margin-bottom: 1rem;
                }

                h3 {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
}