.container {
    .footer-container {
        @include centerObject();
        height: 3rem;
        background: #FDEC96;

        .footer-row-1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 75%;
            color: $awgFont2;
            font-size: 0.75rem;
            border-top: 1px solid gray;
        }
    }
}