//Primary Header

.contact-header {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    height: 5rem;
    background: lightblue;
    color: white;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        // margin: 0 0.5rem;
        width: 55%;
        text-align: center;
    }

    .contact-options {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        width: 24rem;
        height: 55%;
        font-size: 0.85rem;
        line-height: 1.2rem;

        .contact-info {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 100%;
            width: 75%;
        }

        .contact-icons {
            display: flex;
            justify-content: space-evenly;
            width: 25%;
        }
    }

    @media (max-width: 768px) {
        flex-flow: column wrap;
        justify-content: center;
        height: 6rem;

        .contact-options {
            height: 3rem;
        }

        h2 {
            padding: 0.5rem 0;
            width: 100%;
        }

        @media (max-width: 414px) {
            height: 8rem;

            h2 {
                width: 100%;
                margin: none;
            }

            .contact-options {
                display: flex;
                flex-flow: column wrap;
                height: 5rem;
                width: 100%;

                .contact-info {
                    align-content: space-evenly;
                    width: 90%;
                    max-height: 2.5rem;
                }

                .contact-icons {
                    width: 100%;

                }

            }
        }
    }
}