$orangeElement: rgb(253, 173, 51);
$awgFont1: rgb(87, 71, 66);
$awgFont2: rgb(128, 118, 116);

@mixin contentBox {
    width: 100%;
    height: 30rem;
}

@mixin boldText {
    font-size: 2rem;
    font-weight: bold;
}

@mixin buttonStyle {
    width: 7.5rem;
    height: 2.75rem;
    border: 0;
    border-radius: 7.5%;
    background: $orangeElement;
    font-family: inherit;
    font-size: 1rem;
    color: $awgFont1;
    text-decoration: none;
}

@mixin centerObject {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin footerColObj {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

// Keyframes

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

}

@keyframes scrollFadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }

}

@keyframes scrollFadeOut {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }

}